*{
    padding: 0%;
    margin: 0%;
}
.jumbotron{
    background-color: grey;
    padding: 20px;
    margin: 20px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
/* COMMON CODE */
.cssPadding>h1, .cssBorder>h1, .cssMargin>h1{
    background-color: teal;
    color: #fff;    
    border-radius: 50px;

}
.cssPadding>h1, .cssBorder>h1{
    margin: 20px;
}
.cssPadding>h1:nth-child(1){
    padding: 50px; /* apply for all sides */
}
.cssPadding>h1:nth-child(2){
    padding:  25px 75px; /* aplly for vertical and horizontal  sides */
}
.cssPadding>h1:nth-child(3){
    padding: 25px 50px 75px; /* apply for top horizontal bottom bottom */
}
.cssPadding>h1:nth-child(4){
    padding: 25px 50px 75px 100px; /*  top right bottom and left */
}

/*CSS BORDER CODE */
.cssBorder>h1{
    padding: 20px;

}

.cssBorder>h1:nth-child(1){
    border:  5px red blue;/* apply for all sides */
   }
.cssBorder>h1:nth-child(2){
    border:  5px;
    border-color: red blue;
    border-style: solid; /* apply for all sides */
   }
   .cssBorder>h1:nth-child(3){
    border:  5px;
    border-color: red blue black;
    border-style: solid; /* apply for all sides */
   }
   .cssBorder>h1:nth-child(4){
    border:  5px;
    border-color: red blue black green;
    border-style: solid; /* apply for all sides */
   }

   /* CSS MARGIN CODE */
   .cssMargin>h1:nth-child(1){
    margin: 50px;
   }
   .cssMargin>h1:nth-child(2){
    margin: 25px 75px;
   }
   
   .cssMargin>h1:nth-child(3){
    margin: 25px 50px 75px;
   }
   
   .cssMargin>h1:nth-child(4){
    margin: 25px 50px 75px 100px;
   }
   
   /* CSS MODEL */
   .cssBoxModel{
    background-color: rebeccapurple;
    padding: 20px;
    border: 5px solid #000;
    margin: 30px;
    color: #808080;
   }
   
